:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --font-mono: "Courier New", "Fira Code", "JetBrains Mono", "IBM Plex Mono",
    "Space Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", monospace;
  --font-size: 100%;

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 7rem);
  /* --fs-xl: 7rem; */
  --fs-600: 2rem;
  /* --fs-500: 1.25rem; */
  --fs-400: 1.125rem;

  --fs-MQxl: 5rem;
  --fs-MQ600: 1rem;
  /* --fs-500: 1.25rem; */
  --fs-MQ400: 0.7rem;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/* TO CHECK AND EDIT ACCORDINGLY AS WEBSITE DEVELOPS */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

/* TO CHECK AND EDIT ACCORDINGLY */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
