.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}

.banner {
  padding: 1.3em;
  margin-left: 18vw;
}

.banner > h1 {
  font-size: var(--fs-xl);
}

.music {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 100%;
  height: auto;
  position: relative;
  /* dont need max width and height because the 800 x 800 ratio is set in the Newsingle compnent */
  /* max-width: 1000px;
  max-height: 1000px;  */
}

.card {
  padding: 1rem 1rem;
  height: 5vh;
}
.card_socials {
  padding: 0.5rem 0.3rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav_routes {
  display: flex;
  justify-content: space-between;
  /* margin-right: 2rem; */
}
.socials {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 4rem; */
}

.text {
  font-size: var(--fs-400);
  padding: 1rem;
  height: auto;
  text-align: justify;
  /* letter-spacing: 2.5px; */
  text-indent: 50px;
  line-height: 1.5;
  height: auto;
  padding: 1rem;
}

/* Enable hover only on non-touch devices */

@media (hover: hover) and (pointer: fine) {
  .card:hover,
  .card_socials:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    /* outline: 1px solid rgba(var(--card-border-rgb), 0.15); */
  }

  .card:hover span,
  .card_socials:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
/* @media (max-width: 767px) { */
@media (max-width: 1000px) {
  .content {
    padding: 1rem;
  }

  .nav_routes {
    width: 100%;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .banner {
    margin: 0vh;
  }
  .banner > h1 {
    text-align: center;
    font-size: var(--fs-MQxl);
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 1rem;
  }

  .single {
    margin: 1rem;
    max-width: 100%;
  }
  .card {
    height: 0vh;
    font-size: var(--fs-MQ600);
  }

  .text {
    font-size: var(--fs-MQ400);
    padding: 1em;
  }

  /* TO CHECK AND EDIT AS WEBSITE DEVELOPS */
  /* .text p,
  .text div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  } */

  /* .text p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  } */

  /* .text main {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  } */
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
